//content style
body {
  color:#C3DFE8;
  ;
  padding-top: 20px;
  padding-bottom: 20px;
}
h3 {
  color: $brand-sucess;
}



.marketing {
  background:black;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;

}

.container .jumbotron {
  @include border-top-radius(0);
  @include border-bottom-radius(0);
  background: #5C757D;
}
