//content style
body {
  color:green;
  padding-top: 20px;
  padding-bottom: 20px;
}

.marketing {
    h4 {
        color: $brand-warning;
    }
    p {
        color: $brand-success;
    }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.container .jumbotron {
  @include border-top-radius(0);
  @include border-bottom-radius(0);
}
